<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{% if site.tagline %}{{ site.tagline }} - {% endif %}{{ site.title }}</title>
  <title>{% if site.tagline %}{{ site.tagline }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta content="{{ site.url }}{% asset_path "hero.jpg" %}" name="og:image">
  <meta content="{{ site.url }}{{ page.url }}" name="og:url">
  <meta content="{{ site.title }} - {{ site.tagline }}{% if page.title %} - {{ page.title }}{% endif %}" name="og:title">
  <meta content="{{ site.description }}" name="og:description">

  {% stylesheet 'main' %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
