.main-header {
  background: $url-0 no-repeat;
  margin-bottom: 35px;
  padding-top: 388px;
  position: relative;

  .logo {
    background: $url-logo;
    display: block;
    height: 128px;
    position: absolute;
    top: 176px;
    width: 314px;

    h1 {
      color: $white;
      font-family: $font-header, $font-0, $font-1, $font-2;
      font-size: 44px;
      line-height: normal;
      margin: 40px 10px 0;
      text-transform: uppercase;
    }

    h2 {
      color: $white;
      font-family: $font-header, $font-0, $font-1, $font-2;
      font-size: 16px;
      line-height: normal;
      margin: 10px;
      text-transform: uppercase;
    }
  }

  .main-menu ul {
    display: flex;
    height: 63px;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      flex-basis: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        color: $white;
        display: block;
        font-family: $font-header, $font-0, $font-1, $font-2;
        font-size: 19px;
        font-weight: bold;
        height: 63px;
        line-height: 63px;
        text-align: left;
        text-indent: 25px;
        text-transform: uppercase;
        width: 100%;
      }

      &.selected a {
        margin-top: -20px;
        padding-top: 20px;
      }

      &:nth-child(6n-5) a {
        background: $color-gamboge;
      }

      &:nth-child(6n-4) a {
        background: $color-key-lime-pie;
      }

      &:nth-child(6n-3) a {
        background: $color-shamrock;
      }

      &:nth-child(6n-2) a {
        background: $color-scooter;
      }

      &:nth-child(6n-1) a {
        background: $color-mariner;
      }

      &:nth-child(6n) a {
        background: $color-minsk;
      }
    }
  }
}
